<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- properties 配置 -->
    <properties resource="db.properties">
        <property name="jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="jdbc.url" value="jdbc:mysql://localhost:3306/jhome?characterEncoding=utf-8"/>
        <property name="jdbc.username" value="root"/>
        <property name="jdbc.password" value="123456"/>
    </properties>

    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <!-- 延迟加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 侵入式/深度延迟加载 -->
        <setting name="aggressiveLazyLoading" value="true"/>
        <!-- 二级缓存 -->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!-- 别名设置 -->
    <typeAliases>
        <package name="com.aizain.jhome.mybatis.source.po"/>
        <package name="com.aizain.jhome.mybatis.source.vo"/>
    </typeAliases>

    <!-- 环境配置（事务、数据源） -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- mapper映射文件 -->
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <!-- 注解开发使用 -->
        <mapper class="com.aizain.jhome.mybatis.source.mapper.UserAnnotationMapper"/>
    </mappers>

</configuration>