<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aizain.jhome.mybatis.source.app.mapper.UserMapper">

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select useCache="true" id="findUserById" parameterType="int"
            resultType="com.aizain.jhome.mybatis.source.app.po.User">
        select *
        from user
        where id = #{id}
    </select>

    <select useCache="false" id="findUserListLikeName" parameterType="string"
            resultType="com.aizain.jhome.mybatis.source.app.po.User">
        select *
        from user
        where name like '%${value}%'
    </select>

    <select useCache="false" id="findUserListLikeNameSafe" parameterType="string"
            resultType="com.aizain.jhome.mybatis.source.app.po.User">
        select *
        from user
        where name like CONCAT('%', #{name}, '%')
    </select>

    <insert id="insertUser" parameterType="User">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
        insert into user(name, create_time, update_time)
        values(#{name}, #{createTime}, #{updateTime})
    </insert>

    <delete id="deleteUserById" parameterType="int">
        delete from user where id = #{id}
    </delete>

    <update id="updateUserById" parameterType="User">
        update user
        set name = #{name}, update_time = #{updateTime}
        where id = #{id}
    </update>

    <resultMap id="userAliasResultMap" type="User">
        <id column="_id" property="id"/>
        <result column="_name" property="name"/>
    </resultMap>
    <select id="findUserByIdWithAlias" parameterType="int" resultMap="userAliasResultMap">
        select id as _id, name as _name from user where id = #{id}
    </select>

    <resultMap id="userAndOrderResultMap" type="User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <collection property="orders" ofType="Order">
            <id column="oid" property="id"/>
            <result column="number" property="number"/>
            <result column="create_time" property="createTime"/>
            <result column="update_time" property="updateTime"/>
        </collection>
    </resultMap>
    <select useCache="false" id="findUserAndOrder" resultMap="userAndOrderResultMap">
        select
        u.*,
        o.id as oid,
        o.number,
        o.create_time,
        o.update_time
        from `user` as u
        left join `order` as o
        on u.id = o.user_id
    </select>

    <resultMap id="orderAndUserResultMap" type="OrderWithUser">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="number" property="number"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association column="user_id" property="user" javaType="User"
                     select="com.aizain.jhome.mybatis.source.app.mapper.UserMapper.findUserById"/>
    </resultMap>
    <select useCache="false" id="findOrderAndUser" resultMap="orderAndUserResultMap">
        select
        o.*,
        u.name,
        u.create_time,
        u.update_time
        from `order` as o
        join `user` as u
        on u.id = o.user_id
    </select>

    <sql id="whereByVo">
        <where>
            <if test="user != null">
                <if test="user.name != null and user.name != '' ">
                    and name like CONCAT('%',#{user.name},'%')
                </if>
                <if test="user.id != null and user.id != '' ">
                    and id = #{user.id}
                </if>
            </if>
            <if test="ids != null and ids.size() > 0 ">
                and id in
                <foreach collection="ids" open="(" close=")" index="0" item="id" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </sql>

    <select useCache="false" id="findUserByVo" parameterType="UserQueryVo" resultType="User">
        select * from user
        <include refid="whereByVo"/>
    </select>

    <select useCache="false" id="countUserByVo" parameterType="UserQueryVo" resultType="int">
        select count(*) from user
        <include refid="whereByVo"/>
    </select>

    <select useCache="false" id="findUserByIds" parameterType="list" resultType="User">
        select * from user
        where id in
        <foreach collection="list" open="(" close=")" index="0" item="id" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>