<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aizain.jhome.mybatis.source.mapper.UserMapper">

    <select id="findUserById" parameterType="int" resultType="com.aizain.jhome.mybatis.source.po.User">
        select * from user where id = #{id}
    </select>

    <select id="findUserListLikeName" parameterType="string" resultType="com.aizain.jhome.mybatis.source.po.User">
        select * from user where name like '%${value}%'
    </select>

    <select id="findUserListLikeNameSafe" parameterType="string" resultType="com.aizain.jhome.mybatis.source.po.User">
        select * from user where name like CONCAT('%',#{name},'%')
    </select>

    <insert id="insertUser" parameterType="User">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
        insert into user(name, create_time, update_time)
        values(#{name}, #{createTime}, #{updateTime})
    </insert>

    <delete id="deleteUserById" parameterType="int">
        delete from user where id = #{id}
    </delete>

    <update id="updateUserById" parameterType="User">
        update user
        set name = #{name}, update_time = #{updateTime}
        where id = #{id}
    </update>

    <resultMap id="userAliasResultMap" type="User">
        <id column="_id" property="id"/>
        <result column="_name" property="name"/>
    </resultMap>
    <select id="findUserByIdWithAlias" parameterType="int" resultMap="userAliasResultMap">
        select id as _id, name as _name from user where id = #{id}
    </select>

    <resultMap id="userAndOrderResultMap" type="User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <collection property="orders" ofType="Order">
            <id column="oid" property="id"/>
            <result column="number" property="number"/>
            <result column="create_time" property="createTime"/>
            <result column="update_time" property="updateTime"/>
        </collection>
    </resultMap>
    <select id="findUserAndOrder" resultMap="userAndOrderResultMap">
        select
        u.*,
        o.id as oid,
        o.number,
        o.create_time,
        o.update_time
        from `user` as u
        left join `order` as o
        on u.id = o.user_id
    </select>

    <resultMap id="orderAndUserResultMap" type="OrderWithUser">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="number" property="number"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association column="user_id" property="user" javaType="User"
                     select="com.aizain.jhome.mybatis.source.mapper.UserMapper.findUserById"/>
    </resultMap>
    <select id="findOrderAndUser" resultMap="orderAndUserResultMap">
        select
        o.*,
        u.name,
        u.create_time,
        u.update_time
        from `order` as o
        join `user` as u
        on u.id = o.user_id
    </select>

</mapper>